.postContainer {
   width:100%;
   padding: 0px 10px 10px 10px;
   display: flex;
   flex-direction: column;
   background-color:  rgb(44, 92, 206); 
   border-radius: 20px;
   margin: 20px 0px 0px 0px;
   
}
.postContainer::selection,
.title::selection,
.description::selection,
.reference::selection{
   background-color: rgb(255, 255, 255);
   color:black;
}

.title {
   margin-top: 10px;
   font-size: 18px;
   padding: 20px;
   border-radius: 20px;
   background-color: rgba(4, 176, 239,0.5);
   transition: all .2s linear;
}

.title:hover {
   box-shadow: 0px 0px 10px white;
}

.description {
   margin-top:10px;
   background-color: rgba(4, 176, 239,0.5);
   border-radius: 20px;
   padding: 2%;
   padding: 20px;
   transition: all .2s linear;
}

.description:hover {
   box-shadow: 0px 0px 10px white;
}

.reference {
   margin-top:10px;
   background-color: rgba(4, 176, 239,0.5);
   border-radius: 20px;
   padding: 20px;
   transition: all .2s linear;
   
}

.reference:hover {
   box-shadow: 0px 0px 10px white;

}
@media (max-width:576px){
   .reference{
      font-size: 0.7em;
      padding:10px;
   }
}